

.section__fonctionnement{
    & ol {
        list-style: none;
        text-align: left;
        align-self: flex-start;
        padding: 0rem 0.5rem;
        width:100%;
        & li {
            display:inline;
            position:relative;
            max-width:97%;
            height:4.8rem;
            counter-increment: list-counter;
            font-size: 1rem;  
            font-weight: 600; 
            background: $colour-light-backgrnd;
            @include box-shadow(lighten($colour-btn-shadow,10%));
            border-radius: 1.5rem;
            margin-bottom: 1.5rem;
            display:flex;
            align-items:center;
            opacity: 1;
            transition: all 450ms ease-in-out;
            &::before {
                position:absolute;
                left:-0.7rem;
                content: counter(list-counter);
                background: $colour-primary;
                color:white;
                border-radius: 5rem;
                font-size: 0.8em;
                line-height: 1.1rem;
                width: 1rem;
                height: 1rem;
                padding: 0.3rem;
                text-align: center;
            }
            &::after {
                background: $colour-primary;
                content:" ";
                position: absolute; 
	            top: 0; 
	            left: 0; 
	            z-index: 1;
            }

            &:hover {
                background: change-color($colour-primary, $saturation: 100%, $lightness: 96%);
                @include box-shadow($colour-btn-shadow--hover);
                & svg path {
                    fill: $colour-primary;
                  }
                
            }

            & svg {
                width: 1.4rem;
                height: 1.4rem;
                margin: 1.5rem 1.5rem 1.5rem 2.5rem; 
                & path {
                    fill: $colour-darkgrey;
                }
            }
        }
        & .list-item__icone {
            width:4rem;
        }
      }
}


#section-restaurants {

    & .restaurant-preview{
        &__article, &__link {
            height:15rem;
            width:100%;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: left;
            background-color: $colour-white;
            border-radius: 1rem;
            padding-bottom: 0.5rem;
            position:relative;
            margin-bottom:1.5rem;
            @include box-shadow(lighten($colour-btn-shadow,8%));
        }

        &__article--new {
            &::before {
                position:absolute;
                z-index:99999;
                right:0.8rem;
                top:0.8rem;
                padding: 0rem 1rem;
                font-size:0.8rem;
                font-weight: 600;
                content:"Nouveau";
                border-radius: 0.2rem;
                background-color: $colour-lightgreen;
                color:$colour-darkgreen;
            }
        }

        &__image {
            height:72%;
            width:100%;
            & img {
                width:100%;
                height:100%;
                object-fit:cover;
                object-position: 100% 65%;
                border-radius: 1rem 1rem 0 0;
            }
        }

        &__infos{
            margin:0.5rem 1rem;
        }

        &__like {
            position:absolute;
            bottom:1.5rem;
            right:1rem;
            height: 2.5rem;
            width: 2.5rem;
            & svg {
                margin:0.5rem;
                // background: linear-gradient(175deg,lighten($colour-primary,5%),lighten($colour-secondary,5%));
                & path{
                    fill: transparent;
                    stroke: $colour-blackgrey;
                    }
            }
            &:hover {
                path {
                fill: url(#svg-gradient);
                animation: anim-fill-like $anim-fill-like-duration $anim-fill-like-delay forwards;
                stroke: transparent;
                }
            }
        }
    }
}

.gradient__color{
    &-primary{
        stop-color: $colour-primary;
    }
    &-secondary{
        stop-color: $colour-secondary;
    }
}

#start-animation {
    width:100%;
    height:100%;
    background-color:#f6f6f6;
    z-index:9999;
    position:absolute;
    @include flex-center;
    animation: start-animation-visibility $anim-start-duration $anim-start-delay ease-in-out forwards;
}

#container-animation  {  
    color:black;
    background: linear-gradient(90deg,black,black) no-repeat;
    background-size: 0% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1rem black;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'shrikhand';
    animation: progressbar-logo $anim-start-duration__progressbar $anim-start-delay__progressbar ease forwards;
    padding:2.5rem;
    font-size: 2.5rem;
    white-space: nowrap; 
    position:relative; 
}   
    
.bouncingball {
    width:1rem;
    height:1rem; 
    border-radius:100%;  
    background:linear-gradient(90deg,$colour-primary,$colour-secondary);
    animation: bounce-ball $anim-start-duration__bounce-ball  $anim-start-delay__bounce-ball ease-in-out $anim-start-iter-count__bounce-ball, move-ball-X  $anim-start-duration__move-ball-X $anim-start-delay__move-ball-X;        
    position:absolute; 
    transform: translate(-1.5rem,2rem);       
}

