

#section-restaurants {

    & .restaurant-preview{
        &__article, &__link {
            height:15rem;
            width:100%;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: left;
            background-color: $colour-white;
            border-radius: 1rem;
            padding-bottom: 0.5rem;
            position:relative;
            margin-bottom:1.5rem;
            @include box-shadow(lighten($colour-btn-shadow,8%));
        }

        &__article--new {
            &::before {
                position:absolute;
                z-index:99999;
                right:0.8rem;
                top:0.8rem;
                padding: 0rem 1rem;
                font-size:0.8rem;
                font-weight: 600;
                content:"Nouveau";
                border-radius: 0.2rem;
                background-color: $colour-lightgreen;
                color:$colour-darkgreen;
            }
        }

        &__image {
            height:72%;
            width:100%;
            & img {
                width:100%;
                height:100%;
                object-fit:cover;
                object-position: 100% 65%;
                border-radius: 1rem 1rem 0 0;
            }
        }

        &__infos{
            margin:0.5rem 1rem;
        }

        &__like {
            position:absolute;
            bottom:1.8rem;
            right:1.5rem;
            height: 1.5rem;
            width: 1.5rem;
            & svg {
                // background: linear-gradient(175deg,lighten($colour-primary,5%),lighten($colour-secondary,5%));
                & path{
                    fill: transparent;
                    stroke: $colour-blackgrey;
                    }
            }
            &:hover {
                path {
                fill: url(#svg-gradient);
                animation: anim-fill-like 5s both;
                stroke: transparent;
                }
            }
        }
    }
}

.gradient__color{
    &-primary{
        stop-color: $colour-primary;
    }
    &-secondary{
        stop-color: $colour-secondary;
    }
}
