@keyframes anim-fill-like{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim-visibility-menu {
    0% {
        opacity: 0;
        transform: translateY(1rem); 
        height:0;
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);  
        height:100%;
    }
}

@keyframes progressbar-logo {
  
    0% {
        background-size: 0% 100%;
        -webkit-background-size: 0% 100%;
    }   
    20% {  
        background-size: 18% 100%;
        -webkit-background-size: 18% 100%;
    }  
    30% {   
        background-size: 35% 100%;
        -webkit-background-size: 35% 100%;
        animation-timing-function: cubic-bezier(.9,0,.1,1);
    }
    35% { 
        background-size: 45% 100%;
        -webkit-background-size: 45% 100%;
        animation-timing-function: cubic-bezier(.9,0,.1,1);
    }  
    40% {
        background-size: 51% 100%;
        -webkit-background-size: 51% 100%;
        animation-timing-function: cubic-bezier(.25,0.25,1);
    }  
    48% {    
        background-size: 60% 100%;
        -webkit-background-size: 60% 100%;
        animation-timing-function: cubic-bezier(.9,0,.1,1);
    }  
    60% { 
        background-size: 70% 100%;  
        -webkit-background-size: 70% 100%;  
        animation-timing-function: cubic-bezier(.25,0.25,1);   
    }  
    85%,100% {
        opacity: 1; 
    }
    100% {
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
    }
  }  
  
  @keyframes bounce-ball {
    0% {
        top: 0;
        animation-timing-function: ease-in;
    }  
    20% {
        top: 1.7rem;
        animation-timing-function: ease-out;
      }
    50% {
        top: 0;
        animation-timing-function: ease-in;
    }
    70% {
        top: 1.8rem;
        animation-timing-function: ease-out;
    }
    100% {
        top: 0;
        animation-timing-function: ease-in;}
    }
  
  @keyframes move-ball-X {
    0% {transform: translate(-1.5rem,2rem);}   
    8% {transform: translate(-1.5rem,2rem);}   
    16% {transform: translate(0.5rem,-0.4rem);
        transition: transform ease-in-out;}   
    22% {transform: translate(0.5rem,-0.4rem);
        transition: transform ease-out;} 
    28% {transform: translate(2rem,-0.4rem);
        transition: transform ease-out;} 
    33% {transform: translate(3.5rem,0rem); 
        transition: transform ease-out;}
    48% {transform: translate(6.5rem,0rem);
        transition: transform ease-out;}
    58% {transform: translate(8.2rem,-0.4rem);
        transition: transform ease-in-out;}
    74% {transform: translate(11rem,0rem);
        transition: transform ease-in-out;}
    80% {transform: translate(13rem,-0.4rem);
        transition: transform ease-in-out;} 
    96% {transform: translate(14.5rem,2rem);} 
    100% {transform: translate(-1.5rem,2rem);} 
  }
  
  @keyframes start-animation-visibility  {
      0% {visibility: visible;}
      99% {visibility: visible;}
      100% {visibility: hidden;}
  }

  @keyframes start-hidden  {
    0% {
        visibility: hidden;
        height:0;
        overflow: hidden;
    }
    99% {
        visibility: hidden;
        height:0;
        overflow: hidden;
    }
    100% {
        visibility: visible;
        height:unset;
        overflow: unset;
    }
}


@keyframes icone-scale {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes icone-rotation {
    0% {
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(650deg);
    }
  }
  
  @keyframes icone-rotation-reverse {
    0% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(-690deg);
    }
  }
  
  @keyframes loader-border {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em ;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  