$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-white: #fff;
$colour-lightgreen:#99e2d0;
$colour-darkgreen:#008766;
$colour-lightgrey:#f6f6f6;
$colour-darkgrey:#7e7e7e;
$colour-blackgrey: #353535;

$colour-logo: #101010;
$colour-form-txt: #353535;
$colour-btn : linear-gradient(175deg,$colour-secondary,$colour-primary);
$colour-btn-shadow: lighten($colour-darkgrey,35%);
$colour-btn--hover : linear-gradient(175deg,lighten($colour-secondary,5%),lighten($colour-primary,5%));
$colour-btn-shadow--hover: darken($colour-btn-shadow,10%);


$colour-light-backgrnd: $colour-lightgrey;
$colour-dark-backgrnd: #eaeaea;

$layout-margin: 1.2rem;
$heading-shadow-size: .55rem;

$anim-start-duration: 7s; 
$anim-start-delay: 0s;
$anim-start-duration__progressbar: $anim-start-duration - 1s;
$anim-start-delay__progressbar: 350ms;
$anim-start-duration__bounce-ball: 1300ms;
$anim-start-delay__bounce-ball: 0ms;
$anim-start-iter-count__bounce-ball: 6;
$anim-start-duration__move-ball-X: $anim-start-duration__progressbar;
$anim-start-delay__move-ball-X: 0ms;

$anim-start-restaurants-duration: 2.5s; 
$anim-start-restaurants-delay: 0s;

$nb-category-menu:3;
$nb-display-item-menu:3;
$anim-visibility-menu-item-duration: 0.750s;
$anim-visibility-menu-item-delay: 0.150s;
$anim-visibility-menu-category-duration: 0.500s;
$anim-visibility-menu-category-delay: 0.950s;

$anim-fill-like-duration: 5000ms;
$anim-fill-like-delay: 0ms;